<!-- Search input -->
<!-- <input [(ngModel)]="searchTitle" placeholder="Enter title">-->
<button (click)="searchContent()">Search</button>
<!-- Display search result message -->
<p [ngStyle]="{'color': contentFound ? 'green' : 'red'}">{{ searchResult }}</p>
 
<!-- Display Games section -->
<h2 [ngStyle]="{'color': 'blue'}">Games</h2>
<app-content-card *ngFor="let item of gameItems | contentTitleFilter: searchTitle" [content]="item"></app-content-card>

<!-- Display Battle Games section -->
<h2 [ngStyle]="{'color': 'orange'}">Battle Games</h2>
<app-content-card *ngFor="let item of battleItems | contentTitleFilter: searchTitle" [content]="item"></app-content-card>

<!-- Display None section -->
<h2 [ngStyle]="{'color': 'purple'}">None</h2>
<app-content-card *ngFor="let item of noneItems | contentTitleFilter: searchTitle" [content]="item"></app-content-card>
